{% trans %}
<p>DDX provides Intelligent Data Management. This includes:
    <ul>
        <li>
            AI-based Cataloguing and Curation Service as well as Contextualised search – secure personal data combined with other data sources
        </li>
        <li>
            Metadata, taxonomy, context, unification
        </li>
        <li>
            Data Quality (completeness, uniqueness, timeliness, consistency, validity, accuracy)
        </li>
        <li>
            Glossary of data
        </li>
        <li>
            Pointers to data
        </li>
        <li>
            Data lineage, provenance, and immutability
        </li>
        <li>
            Integration to developments of our ontology frameworks and servers
        </li>
        <li>
            Governance, Compliancy, Regulatory, Policy
        </li>
        <li>
            Route to data exchange and monetisation
        </li>
    </ul>
</p>

<p>
    This enables DDX solve many of the problems around data and analytics as we continue to expand its capabilities:
    <ul>
        <li>
            <b>Data Value:</b> Find which data adds the most value to your organisation
        </li>
        <li>
            <b>Data Sustainability:</b> Find out which data is pointless holding on to for the current business use cases
        </li>
        <li>
            <b>Analysis:</b> Find what, who, when of how data is growing and being used
        </li>
        <li>
            <b>Planning:</b> Understand the impact of different policies on costs, and on data footprint
        </li>
        <li>
            <b>Data Archiving:</b> Support various forms of managing cold data and offloading it from
            primary storage and backups without impacting user access. Includes: Archive data
            by policy – move data with links for seamless access, Archive project data – archive
            data that belongs to a project as a collection, Archive without links – move data
            without leaving a link behind when data needs to be moved out of an environment
        </li>
        <li>
            <b>Innovation:</b> Your strategy should enable you to successfully explore and realise the
            potential locked in your data assets by establishing new, data-driven capabilities for
            what data should be managed and stored
        </li>
        <li>
            <b>Data Replication:</b> Create a copy of data on another location.
        </li>
        <li>
            <b>Data Migration:</b> Move data from one storage environment to another
        </li>
        <li>
            <b>Deep Analytics:</b> Search and query data at scale across storage
        </li>
    </ul>
</p>
{% endtrans %}
